<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sanibell_ProductionModule</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <div class="sanibell-container">
            <h4 class="sanibell-header-text">SANIBELL</h4>
        </div>
        <div class="title-container">
            <h4 class="page-title">@ViewData[ "Title"]</h4>
        </div>
        @* mijn fout, dit kan niet op de header komen, wil andere knoppen gebruiken. ergens in body zetten.
        <div class="icon-container"><img class="icon" src="icons\Exit.png" /></div> *@
    </header>
    <div class="RenderBody">
        <main>
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div>
            
            &copy; @DateTime.UtcNow.Year  SANIBELL - Production Module
        </div>
    </footer>

    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
