<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sanibell_ProductionModule</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="sanibell-container">
            <h4 class="sanibell-header-text">SANIBELL</h4>
        </div>
        <div class="title-container">
            <h4 class="page-title">@ViewData[ "Title"]</h4>
        </div>
        @* mijn fout, dit kan niet op de header komen, wil andere knoppen gebruiken. ergens in body zetten.
        <div class="icon-container"><img class="icon" src="icons\Exit.png" /></div> *@
    </header>
    <div class="RenderBody">
        <main>
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div>
            
            &copy; @DateTime.UtcNow.Year  SANIBELL - Production Module
        </div>
    </footer>

    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
