@page
@model PlannerDetailModel
@{
    ViewData["Title"] = "Planner Details";
}

<p> data gaat pulled worden gebaseerd op het Advies Id: @Model.AdviesId. dit is de ID van het gegenereerde advies rapport in het ERP systeem. (voor nu is dit mock data) </p>
