* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins";
  font-weight: 400;
  font-style: normal;
  
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
  background-color: #D9D9D9;
  border-bottom: solid 1px #000;
  padding: 50px;
}

.sanibell-container {
  display: flex;
  align-items: center;
  height: 100px;
  font-size: 48px;
  letter-spacing: 5px;
  
}

.sani {
  color: #000;
}

.bell {
  color:#666;
}

.button-container {
  width: 50px;
  height: 50px;
  background-color: #666;
  border-radius: 10px;
  border: solid 1px #000;

}
 img {
  height: 48px;
  width: 48px;
 }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
