@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1 class="text-center padding-25">Selecteer uw profiel</h1>

<div class="tiles">
<!-- hier word voor elke user een tile aangemaakt -->
@foreach (Models.Users users in Model.Users) {
    <a asp-page="/Login">
        <div class="tile-container shadowbox">
            <img class="user-icon" src="icons\User.png" />
            <h4 class="tile-username">@users.Naam</h4>
            <p class="tile-role tile-divider">@users.Rol</p>
        </div>
    </a>
}
</div>