@page
@model LoginModel
@{
    ViewData["Title"] = "Login page";
}

@section PageStyle {
    <link rel="stylesheet" href="~/css/login.css" />
}

<div class="welcome-container">
    <img  class="login-icon" src="icons/User.png" />
    <h2 class="text-center">Welkom @(Model.Users != null ? Model.Users.Name : "")!</h2>
</div>

<div class="scan-container padding-25">
    <h1 class="scan-text text-center">Scan hier uw QR code</h1>
    <p class="scan-text-p text-center tile-divider">Houd uw QR code voor de scanner</p>
</div>

<form method="post">
    <input type="hidden" asp-for="Id" />
    <input asp-for="ScannedQRValue" id="QRinput" type="hidden"/>
</form>


@if (!ModelState.IsValid) {
    <p class="error-text" style="color:red;">@ModelState.Values.SelectMany(v => v.Errors).FirstOrDefault()?.ErrorMessage</p>
}

<!-- onzichtbaar inloggen (als het goed is weet ik hoe een scanner werkt) ---> 
@section Scripts {
<script src="~/js/QR-Login.js"></script>
}
