@page
@model LoginModel
@{
    ViewData["Title"] = "Login page";
}

@section PageStyle {
    <link rel="stylesheet" href="~/css/login.css" />
}

<div class="welcome-container">
    <img src="icons/User.png" />
    <h2>Welkom @(Model.Users?.Name)!</h2>
</div>

<div class="scan-container">
    <h1 class="scan-text">Scan hier uw QR code</h1>
    <p class="scan-text-p">Houd uw QR code voor de scanner</p>
</div>

<form method="post">
    <input type="hidden" asp-for="Id" />
    <input asp-for="ScannedQRValue" id="QRinput" type="hidden"/>
</form>

@if (!ModelState.IsValid) {
    <p class="error-text" style="color:red;">@ModelState.Values.SelectMany(v => v.Errors).FirstOrDefault()?.ErrorMessage</p>
}

<!-- invisible login script ---> 
@section Scripts {
<script src="~/js/QR-Login.js"></script>
}
